* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
}
/* utility */

.d-flex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}




main {
    height: calc(100vh - 100px);
}

/* sidebar */
.sidebar {
    height: calc(100vh - 100px);
    width: 300px;
    background-color: black;
}

nav {
    height: 25%;
    color: #707070;
}

.logo img{
    width: 150px;
    margin: 10px;
}

.menu img{
    width: 30px;
    color: #707070;;
}
.menu{
    height: 33%;
    align-items: center;
    padding: 10px 0;
}
.menu a {
    text-decoration: none;
    color: #707070;
    padding: 0px 10px;
}

.playlist {
    border: dashed white;
    height: 65%;
}

.profilo {
    border: dashed white;
    height: 10%;
}



/* main */

.main-scroll {
    height: calc(100vh - 100px);
    background-color: #141922;
    width: 100%;
    overflow: scroll;
}

.header-main {
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.279);
    position: fixed;
}

.filter {
    margin-top: 100px;
    padding: 20px;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.filter a{
    text-decoration: none;
    color: #7a7c81;
    font-size: 10px;
}

.container{
    height: 100%;
    width: 95%;
    margin: auto;
}
.container p {
    color: #7a7c81;
    font-size: 10px;
}
.container h2, h3{
    color: white;
}
.container h3 {
    font-size: 15px;
    line-height: 15px;
}

.row {
    flex-wrap: wrap;
    margin: 20px 0px;
}
.card{
    text-align: center;
    width: calc(100% / 6);
    padding: 10px;
}
.cover img{
    width: 100%;
}

.popular img{
    border-radius: 50%;
}






/* footer */

footer {
    height: 100px;
    background-color: #282828;
    position: sticky;
}

.left {
    border: dashed white;
    width: 20%;
    height: 100%;
}
.center {
    border: dashed white;
    width: 60%;
    height: 100%;
}
.right {
    border: dashed white;
    width: 20%;
    height: 100%;
}



/* MEDIA QUERY */


/* :::::: 768px :::::: */
@media screen and (max-width: 768px) {
    .card{
        width: calc(100% / 12 * 3);
    }
}

/* ::::: 576 :::::: */
@media screen and (max-width: 576px) {
    .card{
        width: 50%;
    }
}

/* ::::: 425 ::::: */
@media screen and (max-width: 425px) {
    .sidebar{
        width: 50px;
    }
    .card{
        width: 50%;
    }
} 

/* 
lg 1200
md 768
s 576
xs 425
 */