* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
}

/* utility */

.d-flex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}




main {
    height: calc(100vh - 100px);
}

/* sidebar */
.sidebar {
    height: calc(100vh - 100px);
    width: 300px;
    background-color: black;
}

nav {
    color: #707070;
}

.logo img {
    width: 150px;
    margin: 10px 0px;
}

.menu img {
    width: 30px;
    color: #707070;
    ;
}

.menu {
    align-items: center;
    padding: 10px 0;
    border-left: solid #adff2f;
}

.menu a {
    text-decoration: none;
    color: #707070;
    padding: 0px 10px;
}

.playlist {
    height: 65%;
}

.playlist h3 {
    padding: 10px 0;
}

.crea {
    color: #707070;
    align-items: center;
    margin: 10px 0;
}

.square {
    width: 40px;
    aspect-ratio: 1 / 1;
    background-color: #707070;
    margin-right: 10px;
    align-items: center;
    text-align: center;
}

.fa-plus {
    width: 100%;
    color: black;
}

ul {
    list-style: none;
    color: #707070;
    line-height: 40px;
}

.fa-circle-arrow-down {
    color: #707070;
}

.profilo {
    height: 10%;
    color: #707070;
}

.john {
    align-items: center;
    width: 100%;
}

.app {
    width: 100%;
}

.user {
    background-color: #707070;
    padding: 2px;
    border-radius: 50%;
}

.john h4 {
    color: white;
    padding: 0px 10px;
}

hr {
    margin: 10px 0;
}



/* MAIN */

.main-scroll {
    height: calc(100vh - 100px);
    background-color: #141922;
    width: 100%;
    overflow: scroll;
}

.header-main {
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.279);
    position: fixed;
    align-items: center;
}

.header-main a {
    text-decoration: none;
    color: white;
    position: absolute;
    right: 300px;
    padding: 10px 40px;
    border-radius: 30px;
    border: solid;

}

.filter {
    margin-top: 100px;
    padding: 20px;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.filter a {
    text-decoration: none;
    color: #7a7c81;
    font-size: 12px;
    padding: 5px 0;
}

.filtro {
    align-items: center;
}

.active {
    width: 40px;
    border-bottom: solid #adff2f;
}

.container {
    height: 100%;
    width: 95%;
    margin: auto;
}

.container p {
    color: #7a7c81;
    font-size: 10px;
}

.container h2,
h3 {
    color: white;
}

.container h3 {
    font-size: 15px;
    line-height: 15px;
}

.row {
    flex-wrap: wrap;
    margin: 20px 0px;
}

.card {
    text-align: center;
    width: calc(100% / 6);
    padding: 10px;
}

.cover img {
    width: 100%;
}

.popular img {
    border-radius: 50%;
}






/* FOOTER */

footer {
    height: 100px;
    background-color: #282828;
    position: sticky;
}

.left {
    width: 20%;
    height: 100%;
    justify-content: space-between;
}

.center {
    width: 60%;
    height: 100%;
}

.right {
    width: 20%;
    height: 100%;
    align-items: center;
}

.left-lx {
    align-items: center;
    padding: 5px;
}

.info-lx {
    justify-content: center;
    padding: 5px;
}

.info-lx h4 {
    color: white;
    font-size: 15px;
}

.info-lx p {
    color: #707070;
    font-size: 10px;
}

.left-rx {
    align-items: center;
}

.fa-folder,
.fa-heart {
    color: #707070;
    padding: 5px;
}

.center-top {
    height: 50%;
    justify-content: center;
    align-items: center;
}

.center-top i {
    color: white;
    padding: 20px;
}

.fa-circle-play {
    scale: 200%;
}

.center-bottom {
    height: 50%;
    justify-content: center;
    align-items: center;
    color: white;
}

.barra {
    width: 380px;
    border: solid #707070;
}

.time {
    margin: 10px;
    font-size: 10px;
}

.minibarra {
    width: 100px;
    border: solid #707070;
}

.right i {
    color: #707070;
    padding: 10px;
}



/* MEDIA QUERY */


/* :::::: 768px :::::: */
@media screen and (max-width: 768px) {
    .card {
        width: calc(100% / 12 * 3);
    }
}

/* ::::: 576 :::::: */
@media screen and (max-width: 576px) {
    .card {
        width: 50%;
    }
}

/* ::::: 425 ::::: */
@media screen and (max-width: 425px) {
    .sidebar {
        width: 50px;
    }

    .card {
        width: 50%;
    }

    .playlist {
        display: none;
    }

    .menu a {
        display: none;
    }

    .menu img, .app i, .john .user {
        margin: auto;
    }

    .app span {
        display: none;
    }

    hr {
        display: none;
    }
    .john h4{
        display: none;
    }
    .left-rx{
        flex-direction: column;
    }
}

/* 
lg 1200
md 768
s 576
xs 425
 */